name: generate pacman game

on:
  schedule: # Run automatically every 24 hours
    - cron: "* */12 * * *"
  workflow_dispatch: # Allows manual triggering
  push: # Runs on every push to the main branch
    branches:
      - main

jobs:
  generate:
    permissions:
      contents: write
    runs-on: ubuntu-latest
    timeout-minutes: 5

    steps:
      - name: Create dist directory
        run: mkdir -p dist

      - name: generate pacman-contribution-graph.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Move light mode svg
        run: mv pacman-contribution-graph.svg dist/pacman-contribution-graph.svg

      - name: generate pacman-contribution-graph-dark.svg
        uses: abozanona/pacman-contribution-graph@main
        with:
          github_user_name: ${{ github.repository_owner }}

      - name: Move dark mode svg
        run: mv pacman-contribution-graph.svg dist/pacman-contribution-graph-dark.svg

      # Push the generated SVG to the output branch
      - name: push pacman-contribution-graph.svg to the output branch
        uses: crazy-max/ghaction-github-pages@v3.1.0
        with:
          target_branch: output
          build_dir: dist
        env:
          GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
